<launch>
  <!-- Arguments -->
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  
  <!-- Launch Gazebo -->
  <include file="$(find 3dof_rrr_robot_arm)/launch/gazebo.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Load SRDF -->
  <param name="robot_description_semantic" 
         textfile="$(find 3dof_rrr_robot_arm)/config/3DoF_RRR_Robot_Arm.srdf"/>

  <!-- Load kinematics config -->
  <rosparam command="load" file="$(find 3dof_rrr_robot_arm)/config/kinematics.yaml" 
            ns="robot_description_kinematics"/>

  <!-- Load joint limits -->
  <rosparam command="load" file="$(find 3dof_rrr_robot_arm)/config/joint_limits.yaml" 
            ns="robot_description_planning"/>

  <!-- Load OMPL planning config -->
  <rosparam command="load" file="$(find 3dof_rrr_robot_arm)/config/ompl_planning.yaml"/>

  <!-- MoveIt Controllers for Gazebo -->
  <rosparam ns="move_group">
    moveit_controller_manager: moveit_simple_controller_manager/MoveItSimpleControllerManager
    controller_list:
      - name: arm_controller
        action_ns: follow_joint_trajectory
        type: FollowJointTrajectory
        default: true
        joints:
          - joint1
          - joint2
          - joint3
  </rosparam>

  <!-- Move Group Node -->
  <node name="move_group" pkg="moveit_ros_move_group" type="move_group" output="screen">
    <param name="planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <param name="request_adapters" value="default_planner_request_adapters/AddTimeParameterization
                                          default_planner_request_adapters/FixWorkspaceBounds
                                          default_planner_request_adapters/FixStartStateBounds
                                          default_planner_request_adapters/FixStartStateCollision
                                          default_planner_request_adapters/FixStartStatePathConstraints"/>
    <param name="start_state_max_bounds_error" value="0.1"/>
    <param name="moveit_manage_controllers" value="true"/>
    <param name="trajectory_execution/allowed_execution_duration_scaling" value="1.2"/>
    <param name="trajectory_execution/allowed_goal_duration_margin" value="0.5"/>
    <param name="trajectory_execution/allowed_start_tolerance" value="0.01"/>
    <param name="moveit_controller_manager" value="moveit_simple_controller_manager/MoveItSimpleControllerManager"/>
    <param name="planning_scene_monitor/publish_planning_scene" value="true"/>
    <param name="planning_scene_monitor/publish_geometry_updates" value="true"/>
    <param name="planning_scene_monitor/publish_state_updates" value="true"/>
    <param name="planning_scene_monitor/publish_transforms_updates" value="true"/>
  </node>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" 
        args="-d $(find 3dof_rrr_robot_arm)/config/moveit.rviz" output="screen"/>

</launch>
