<launch>
  <!-- MoveIt Move Group Configuration -->
  
  <!-- Load OMPL planning config -->
  <rosparam command="load" file="$(find 3dof_rrr_robot_arm)/config/ompl_planning.yaml"/>
  
  <!-- Load controller config into move_group namespace -->
  <rosparam command="load" file="$(find 3dof_rrr_robot_arm)/config/moveit_controllers.yaml" ns="move_group"/>
  
  <!-- Move Group Node -->
  <node name="move_group" pkg="moveit_ros_move_group" type="move_group" output="screen">
    <!-- Planning -->
    <param name="planning_plugin" value="ompl_interface/OMPLPlanner"/>
    <param name="request_adapters" value="default_planner_request_adapters/AddTimeParameterization
                                          default_planner_request_adapters/FixWorkspaceBounds
                                          default_planner_request_adapters/FixStartStateBounds
                                          default_planner_request_adapters/FixStartStateCollision
                                          default_planner_request_adapters/FixStartStatePathConstraints"/>
    <param name="start_state_max_bounds_error" value="0.1"/>
    
    <!-- Trajectory Execution -->
    <param name="moveit_manage_controllers" value="true"/>
    <param name="trajectory_execution/allowed_execution_duration_scaling" value="1.2"/>
    <param name="trajectory_execution/allowed_goal_duration_margin" value="0.5"/>
    <param name="trajectory_execution/allowed_start_tolerance" value="0.01"/>
    
    <!-- Controller Manager -->
    <param name="moveit_controller_manager" value="moveit_simple_controller_manager/MoveItSimpleControllerManager"/>
    
    <!-- Planning Scene -->
    <param name="planning_scene_monitor/publish_planning_scene" value="true"/>
    <param name="planning_scene_monitor/publish_geometry_updates" value="true"/>
    <param name="planning_scene_monitor/publish_state_updates" value="true"/>
    <param name="planning_scene_monitor/publish_transforms_updates" value="true"/>
    
    <!-- Capabilities -->
    <param name="capabilities" value="move_group/MoveGroupCartesianPathService
                                      move_group/MoveGroupExecuteTrajectoryAction
                                      move_group/MoveGroupKinematicsService
                                      move_group/MoveGroupMoveAction
                                      move_group/MoveGroupPickPlaceAction
                                      move_group/MoveGroupPlanService
                                      move_group/MoveGroupQueryPlannersService
                                      move_group/MoveGroupStateValidationService
                                      move_group/MoveGroupGetPlanningSceneService"/>
  </node>
  
</launch>
